*.ipynb_checkpoints
*__pycache__
n_input_data
saved_models
*corpora
/nn_input_data/wikiconv
craft_disputes.egg-info

.pytest_cache
uv.lock
.venv
/test
/saved_models_deep/custom/custom
casino
deal_no_deal
kodis
train_processed_dialogs.txt
.vscode
ray_results
mlruns
test_1fold_ALL_KODIS_stratified
test_3fold_ALL_KODIS_stratified
test_3fold_ALL_KODIS_downsampling
test_500_1fold
test_500_1fold_ALL_KODIS
test_500_3fold
